body{
    color: white;
    margin: 0 auto;
    width: 40%;
    align-items: center;
    font-size: 30px;
    font-family:'Shadows Into Light'
    
}

header{
    text-align: center;
    background-color: rgb(39, 57, 120);
    margin-top: 10px;
}

h1{
    margin: 0%;
    padding: 60px;
}
section{
    background-color: rgb(39, 57, 120);
    margin-top: 0;
}

.cat{
    display: flex;
    justify-content: center ;
    align-items: first baseline
}

.chat{
    display: flex;
    justify-content: center ;
    align-items: first baseline
}

.last{
    display: flex;
    justify-content: center ;
    align-items: first baseline
}

p{
    text-align: center;
    font-size: 15px;
}


/*Met sur iphone 14pro max stp*/
@media screen and (max-width: 768px) {

    * {
        font-family: "Shadows Into Light", cursive;
        color: white;
        font-size: 18px;
    }

    h1 {
        font-size: 40px;
    }

    body {
        background-color: white;
        width: 80%;
        height: 80px ;
        margin-top: 10px;
        
    }
     
    
    p{
        margin: 0;
    }    

    .section{
        background-color: #29347B;
        width: 120%;
    }

    img {
       width: 50px;
       height: 80px;
    }

    p{
    padding: 10px;
    }
}

